@use '../abstracts/colors' as *;
@use '../abstracts//media' as *;
@use '../abstracts/mixins' as *;


.sharedHero {
    @include flex(column, center, center);
    margin: auto;
    width: 90%;
    height: 25rem;
    border-radius: .625rem;
}

.about{
    background: url('src/assets/about/mobile/image-hero-whitecup.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    @include bp-md-tablet {
        background: url('src/assets/about/tablet/image-hero-whitecup.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    @include bp-xl-desktop {
        background: url('src/assets/about/desktop/image-hero-whitecup.jpg') no-repeat;
            background-size: cover;
            background-position: center;
    }
}