@use '../abstracts/colors' as *;
@use '../abstracts//media' as *;
@use '../abstracts/mixins' as *;

.hero {
    @include flex(column, center, center);
    margin: auto;
    width: 90%;
    height: 25rem;
    border-radius: .625rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.home {
    background-image: url('/src/assets/home/mobile/image-hero-coffeepress.jpg');


    @include bp-md-tablet {
        background-image: url('/src/assets/home/tablet/image-hero-coffeepress.jpg');

    }

    @include bp-xl-desktop {
        background-image: url('/src/assets/home/desktop/image-hero-coffeepress.jpg');

    }
}


.about {
    background-image: url('src/assets/about/mobile/image-hero-whitecup.jpg');


    @include bp-md-tablet {
        background-image: url('src/assets/about/tablet/image-hero-whitecup.jpg');

    }

    @include bp-xl-desktop {
        background-image: url('src/assets/about/desktop/image-hero-whitecup.jpg');

    }
}

.subscribe {
    background-image: url('/src/assets/plan/mobile/image-hero-blackcup.jpg');


    @include bp-md-tablet {
        background-image: url('/src/assets/plan/tablet/image-hero-blackcup.jpg');

    }

    @include bp-xl-desktop {
        background-image: url('/src/assets/plan/desktop/image-hero-blackcup.jpg');

    }
}