@use '../abstracts/colors' as *;
@use '../abstracts/media' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;
//@use '../components/buttons' as *;

.navbar {
    margin: auto;
    padding: 1.5rem 2rem;
    display: block;

    @include bp-md-tablet {
        width: 90%;
        padding: 2.5rem;
        @include flex(row, space-between, center);

        .navbar-menu {
            &--list {
                @include flex(row, space-between, flex-start);
                gap: 2.0625rem;
                flex-shrink: 0;
            }
        }
    }
}