@use '../abstracts' as *;
@use '../base' as *;
//@use '../components/buttons' as *;

.nav {
    margin: auto;
    display: block;

    @include bp-md-tablet {
        padding: 2.5rem 2.4375rem;
        @include flex(row, space-between, center);

        .nav__menu--list {
            width: 17.6875rem;
            //height: .9375rem;
            @include flex(row, center, flex-start);
            padding-right: .0625rem;
            gap: 2.0625rem;
            flex-shrink: 0;
        }
    }

}

.navbar__mobile {
    @include flex(row, space-between, center);
    padding: 2rem 1.5rem;
}

.navbar__mobile--menu {
    width: 100%;
    height: 36.0625rem;

    .navbar__menu {
        text-align: center;

        .nav__list {
            .nav__item {
                color: $mobile-navbar-font-color;
                font-family: $header-font;
                font-size: 1.5rem;
                font-weight: 900;
                line-height: 2rem;
                padding: 1rem;
                list-style: none;

                .nav__item--btn {
                    text-decoration: none;
                    outline: none;
                }

            }
        }

    }
}