@use '../abstracts/' as *;
@use '../base/typography' as *;

// Main Button Default & Hover
@mixin MainDefaultBtn() {
    @include ButtonFont;
    background-color: $prim-color-dk-cyan;
    color: $light-cream;
    border: none;
    padding: .7813rem 1.4063rem;
    border-radius: .375rem;
    margin-top: 2.5rem;
    cursor: pointer;
}

// Main Button Activated



// Main Button Disabled



