@use '../abstracts' as *;
@use '../base' as *;

.main__home {
    .collection {
        text-align: center;

        &__title {
            font-size: $h2-heading-size;
            font-family: $header-font;
            font-weight: 900;
            line-height: 0.75;
            color: $home-collection-heading-color;
            text-transform: lowercase;
            opacity: 0.4;
            padding: 7.5rem 1.5rem .8125rem;
        }

        &__list {
            width: 100%;
            height: 78.75rem;
            @include flex(column, space-evenly, center);

            .collection__item {
                @include flex(column, center, center);

                .collection__img__container {
                    .collection__img {
                        padding-bottom: 1.5rem;
                    }
                }

                .collection__summary {
                    .collection__subtitle {
                        padding-bottom: 1rem;
                    }

                    .collection__details {
                        padding-inline: 2.875rem;
                    }
                }
            }
        }

    }
}