.about-banner {
    width: 90%;
    height: 25rem;
    overflow: hidden;
    margin: auto;

    .about-banner-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-container {
        width: 90%;
        height: 25rem;
        margin: auto;
        @include flex(column, center, center);

        .about-banner-title {
            @include HeaderTwo;
            color: $light-cream;
            text-align: center;
        }

        .about-banner-body {
            @include BodyFont;
            color: $light-cream;
            text-align: center;
        }
    }
}