.about-banner {
    width: 90%;
    height: 25rem;
    overflow: hidden;
    margin: auto;

    .about-banner-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-container {
        width: 90%;
        height: 25rem;
        margin: auto;
        @include flex(column, center, center);

        .about-banner-title {
            @include HeaderTwo;
            color: $light-cream;
            text-align: center;
        }

        .about-banner-body {
            @include BodyFont;
            color: $light-cream;
            text-align: center;
        }
    }
}

.about-section1 {
    width: 90%;
    height: 62.5rem;
    margin: auto;

    .about-commit-container {
        width: 100%;
        height: 100%;
        @include flex(column, space-evenly, center);
        text-align: center;


        .about-commit-image {
            width: 327px;
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .about-commit-copy {
            .about-commit-title {
                @include HeaderThree;
                color: $sec-color-dk-grey-blue;
                padding-bottom: 1.875rem;
            }

            .about-commit-body {
                @include BodyFont;
                font-size: .9375rem;
                color: $sec-color-dk-grey-blue;
                flex-shrink: 0;
            }
        }
    }
}


.about-section2 {
    width: 90%;
    height: 36.875rem;
    margin: auto;
}


.about-section3 {
    width: 90%;
    height: 68.75rem;
    margin: auto;
}