// Home Banner
.home-banner {
    width: 90%;
    height: 31.25rem;
    overflow: hidden;
    padding: auto;
    margin: auto;

    .home-banner-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    &-container {
        width: 90%;
        height: 31.25rem;
        margin: auto;
        @include flex(column, center, center);

        .home-banner-title {
            @include HeaderTwo;
            color: $light-cream;
            text-align: center;
        }

        .home-banner-body {
            @include BodyFont;
            color: $light-cream;
            text-align: center;
        }
    }
}

// Our Collection
.home-section1 {
    @include flex(column, center, center);

    .collection-title {
        @include HomeSection1Title;
        padding-top: 7.5rem;
    }

    .collection-container {
        width: 90%;
        @include flex (column, center, center);
        overflow: hidden;
    }
}

// Why Choose
.home-section2 {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

// How It Works
.home-section3 {
    width: 90%;
    margin: auto;
    overflow: hidden;
}