@use 'abstracts/colors' as *;
@use 'abstracts/media' as *;
@use 'abstracts/mixins' as *;

@use 'base/reset' as *;
@use 'base/typography' as *;

@use 'components/accordion' as *;
@use 'components/aside' as *;
@use 'components/benefitsCard' as *;
@use 'components/buttons' as *;
@use 'components/collection' as *;
@use 'components/commitment' as *;
@use 'components/howWorks' as *;
@use 'components/location' as *;
@use 'components/modal' as *;
@use 'components/modalSubscribe' as *;
@use 'components/orderSummary' as *;

@use 'layout/footer' as *;
@use 'layout/hero' as *;
@use 'layout/navbar' as *;

@use 'pages/about' as *;
@use 'pages/home' as *;
@use 'pages/subscribe' as *;


@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");


// Global Styles

.container {
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: .625rem;
}