// Base Colors 
$prim-color-dk-cyan: #0e8784;
$sec-color-dk-grey-blue: #333d4b;
$acc-color-pale-orange: #fdd6ba;

// Other Colors
$light-tan: #f4f1eb;
$light-cream: #fefcf7;
$grey: #83888f;
$light-cyan: #66d2cf;
$light-grey: #e2ded8;

// Element Colors
$page-background: $light-cream;
$active-btn: $prim-color-dk-cyan;
$btn-hover: $light-cyan;
$btn-disabled: $light-grey;
$selection-opt-active: $prim-color-dk-cyan;
$selection-opt-hover: $acc-color-pale-orange;
$selection-opt-default: $light-tan;
$accordion-caret-default: $prim-color-dk-cyan;
$accordion-caret-hover: $light-cyan;
$accordion-caret-disabled: $light-cyan;
$footer-background: $sec-color-dk-grey-blue;


//Font Colors
$body-font-color: $sec-color-dk-grey-blue;
$header-font-color: $sec-color-dk-grey-blue;
$home-section1-heading-color: $grey;
$about-section3-heading-color: $grey;
$subscribe-section1-heading-color: $light-cream;
$accordion-heading-color: $grey;
$navbar-font-color: $grey;
$mobile-navbar-font-color: $sec-color-dk-grey-blue;